<h1>Panel administracyjny</h1>

<ul>
    <li><a asp-controller="Admin" asp-action="AddBook">Dodaj książkę</a></li>
    <li><a asp-controller="Admin" asp-action="ManageBooks">Zarządzaj książkami</a></li>
    <li><a asp-controller="Admin" asp-action="ManagePenalties">Zarządzaj karami</a></li>
</ul>
@section Scripts {
    <!-- Jeśli nie potrzebujesz żadnych skryptów, zostaw sekcję pustą -->
}
