@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji LibreX!</h1>
    <p>Korzystaj z aplikacji logując się przy użyciu zakładek na górnym pasku.</p>
</div>
@section Scripts {
  
}

